{% extends 'perfil/base.html' %}
{% block body %}
<body>
    <h1>Perfis</h1>
       <main class="row col-lg-12">
           {% for each_perfil in perfis %}
               <div class="panel panel-default">
                    <div class="panel-heading">
                       <p>nome: {{ each_perfil.nome }}</p>
                    </div>
                    <ul>
                        <li>email: {{ each_perfil.email }}</li>
                        <li>telefone: {{ each_perfil.telefone }}</li>
                        <li>empresa: {{ each_perfil.nome_empresa }}</li>
                    </ul>
               </div>
               {% empty %}
               <div class="panel panel-default">
                    <p>Nenhum Perfil Encontrado</p>
               </div>
           {% endfor %}
           <a href="{% url 'index' %}"><b>Voltar</b></a>
    </main>
{% endblock %}