body{
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
    font-size: 120%;
}
main h1{
    background-color: #851944;
    text-align: center;
    color: white;
}

main a{
    color: #851944;
}

h1, h2, main a, nav a{
    font-family: "Open Sans Condensed", sans-serif;
}

p{
    text-align: justify;
}

blockquote{
    background-color: #D9E5E3;
}

aside {
    background-color: #3C1D3D;
    color: inherit;
}

nav a{
    color:  #F2FFFC;
    text-decoration: none;
}

footer{
    background-color: black;
    color: #F2FFFC;
}
